@charset "UTF-8";
body {
  overflow: hidden;
  font-family: sans-serif;
}

.header {
  background-color: #48BF62;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  /*border-bottom: 3px solid black;*/
}

.sub_menu {
  border: none;
  background-color: #1eac7c;
  margin-left: 15px;
}

.logo {
  color: white;
  font-family: sans-serif;
  font-size: 40px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_main {
  border: 4px solid black;
  border-radius: 20px;
  height: 25px;
  width: 400px;
  margin-right: 10px;
}

.search_btn {
  margin-right: 50px;
  border-radius: 70px;
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

@media (max-width: 1000px) {
  .logo {
    display: none;
  }
}

@media (max-width: 600px) {
  .search {
    width: 80%;
  }
  .search_main {
    width: 100%;
  }
  .search_btn {
    margin-right: 10px;
  }
}
@media screen and (min-width: 601px){
  .add_device:hover{
    width: 120px;
    height: 120px;
    /*border-bottom: 2px solid black;*/
    /*border-left: 2px solid black;*/
    box-shadow: 0 0 80px 2px #383838,
    inset -10px +10px 30px -25px;
  }
  .add_device:hover>svg{
    height: 76px;
    width: 76px;
    margin-right: 8.5%;
    margin-top: 8.5%;
  }
}

.main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 60px);
}

.left_menu {
  background-color: #C4C4C4;
  width: 15%;
  min-width: 300px;
  height: 100%;
  overflow: auto;
}
.left_menu::-webkit-scrollbar{
  background-color: #C4C4C4;
}
.left_menu::-webkit-scrollbar-thumb{
  background-color: #383838;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #525252;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  height: 30px;
  border-radius: 9em;
  box-shadow: inset 5px 0 5px -8px black;
}

.roomAdder{
  position: relative;
  width: 250px;
  height: 50px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: .2s;
}
.roomAdder:hover{
  box-shadow: 0 10px 30px -5px black;
}
.roomAdderText{
  font-family: sans-serif;
  color: black;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.roomPlus{
  position: absolute;
  right: 1.5em;
}

.room_box {
  position: relative;
  width: 250px;
  height: 50px;
  background-color: #383838;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: .2s;
}

.room_box:hover{
  box-shadow: 0 10px 30px -5px black;
}
.room_box:hover>.room_box_text{
  text-decoration: underline;
}

.room_box:hover>.deleteRoom{
  opacity: 1;
}

.room_box_text {
  font-family: sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: .2s;
}

.deleteRoom{
  position: absolute;
  transform: rotate(45deg);
  right: 1.5em;
  opacity: 0;
  transition: .2s;
}


.test_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.add_device {
  display: flex;
  /*align-items: center;*/
  justify-content: end;
  width: 60px;
  height: 60px;
  background-color: #E3E3E3;
  position: absolute;
  border-bottom-left-radius: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: .3s;
}



.add_device svg {
  position: relative;
  margin-right: 8%;
  margin-top: 8%;
  transition: .3s;
}

.right_menu {
  position: relative;
  background-color: white;
  height: 100%;
  width: 90%;
  overflow: auto;
}

.right_menu_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1000px) {
  .main_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left_menu {
    background-color: #C4C4C4;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
  }
  .left_menu::-webkit-scrollbar{
    display: none;
  }
  .right_menu {
    width: 100%;
  }
  .room_box {
    border-radius: 10em;
    width: 200px;
    min-width: 200px;
    margin: 0 10px;
    padding-left: 20px;
  }
  .right_menu {
    margin-left: 0px;
  }

}

.device_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  height: 400px;
  background-color: #c4c4c4;
  margin-bottom: 40px;
  border-radius: 25px;
  padding: 40px 30px;
}

.device_box_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.device_box_left_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.device_box_left_img img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.device_box_left_text {
  background-color: white;
  width: 220px;
  height: 100px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}

.devName{
  text-align: center;
  margin-bottom: .5em;
}
.devName>h3{

  font-size: 16px;
  font-weight: bolder;
}

.device_box_right {
  width: 50%;
  height: 100%;
}

.devMG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 45px;
}

.turn_on {
  width: fit-content;
  /*fill: #030104;*/
  fill: white;
  /*-webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));*/
  /*filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));*/
}

.turn_on>svg{
  transition: .3s;
  fill: #22A03E;
  filter: url(#onOffShadow)
}

.turn_on:hover>svg{
  fill: #C71105;
}

.turn_on svg {
  cursor: pointer;
}

.delete {
  width: 60px;
  height: 60px;
}

.delete svg {
  cursor: pointer;
  fill: #8D2424;
}

.devControl {
  width: 100%;
  height: fit-content;
}

.devPropToggler {
  margin: 0 auto;
  width: 85%;
  height: 15%;
  background-color: #ff9d7f;
  margin-bottom: 20px;
  border-radius: 12px;
}

.nav_menu_list {
  z-index: 1;
  margin-top: 0px;
  -webkit-animation-name: left_munu_move;
          animation-name: left_munu_move;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.kast_1 {
  position: absolute;
  display: none;
  opacity: 0;
  margin-top: 50px;
  width: 400px;
  height: 100px;
  margin-top: 126px;
  background-color: antiquewhite;
}

.nav_menu_list {
  display: none;
  margin-left: 205px;
  height: 270px;
  width: 250px;
  background-color: white;
  position: absolute;
  cursor: pointer;
  margin-top: 335px;
}

.nav_menu:hover .nav_menu_list {
  display: block;
}

.nav_menu:hover .kast_1 {
  display: block;
}

@-webkit-keyframes left_munu_move {
  0% {
    margin-left: -300px;
  }
  100% {
    margin-left: 205px;
  }
}

@keyframes left_munu_move {
  0% {
    margin-left: -300px;
  }
  100% {
    margin-left: 205px;
  }
}
